
:root {
    --neon-cyan: #00f2ff;
    --neon-orange: #ff9d00;
    --gold: #ffd700;
}

.overlay {
    display: none;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    z-index: 1000;
}

.method-btn.active-method {
    background: var(--neon-cyan);
    color: black;
    border-color: white;
}

#paymentDetails::placeholder {
    color: #444;
}
